{% extends "base.html" %}
{% block title %}
  Contact
{% endblock title %}
{% block content %}
{% load static %}  

<!-- contact section start -->
<div class="contact_section layout_padding">
   <div class="container">
      <h1 class="contact_text">Our Contact</h1>
      <p class="pin">GET IN TOUCH</p>
      <p class="pin"><span style='color:red'>Our Friendly Team </span>would love to hear from you</p>

   </div>
</div>


<div class="services_section_2">
   <div class="row">
      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-sharp fa-solid fa-location-dot"></i>LOCATION</h3>
            <p class="tation_text">Rautepani-3,Gorkha</p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>
      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-solid fa-phone"></i>PHONE</h3>
            <p class="tation_text">Mobile:(+977) 9825476152</p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>

      <div class="col-lg-4 col-sm-12 col-md-4">
         <div class="box_main">
            <div class="house_icon">
            </div>
            <h3 class="decorate_text"><i class="fa-solid fa-envelope"></i>EMAIL</h3>
            <p class="tation_text">Email: nishanshrestha2059@gmail.com </p>
            <div class="readmore_bt"><a href="#">Read More</a></div>
         </div>
      </div>




      {% endblock content %}